[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
starlette = "*"
uvicorn = "*"
websockets = "*"
jinja2 = "*"
broadcaster = "*"
python-kraken-sdk = "*"
asyncio = "*"
orjson = "*"

[dev-packages]

[requires]
python_version = "3.11"
